{# app/Resources/TeknooEastWebsiteBundle/views/AdminUser/list.html.twig #}

{% extends '@TeknooEastWebsite/Admin/list.html.twig' %}

{% import '@TeknooEastWebsite/Admin/utils.html.twig' as utils %}

{% block listTitle %}
    Users
{% endblock %}

{% block newButton %}
    <a class="btn btn-dark" href="{{ path('_teknoo_website_admin_user_new') }}" title="Create a new user">New</a>
{% endblock %}

{% block listTableHeader %}
    <thead>
        <tr>
            <th class="cell-id">#</th>
            <th><a href="{{ utils.orderUrl(queryParams, 'email') }}">Email</a></th>
            <th>First name</th>
            <th><a href="{{ utils.orderUrl(queryParams, 'lastName') }}">Last name</a></th>
            <th class="cell-action">Action</th>
        </tr>
    </thead>
{% endblock %}

{% block listTableEmpty %}
    <tr>
        <td colspan="5">No entries found</td>
    </tr>
{% endblock %}

{% block listTableRow %}
    <tr>
        <td>{{ object.id }}</td>
        <td>{{ object.email }}</td>
        <td>{{ object.firstName }}</td>
        <td>{{ object.lastName }}</td>
        <td>
            <a href="{{  path('_teknoo_website_admin_user_edit', {'id':object.id}) }}" title="Edit this entry"><span class="fa fa-pencil"></span></a>
            <a href="{{  path('_teknoo_website_admin_user_delete', {'id':object.id}) }}" title="Delete this entry"><span class="fa fa-trash"></span></a>
        </td>
    </tr>
{% endblock %}

{% block menuUsersClass ' active' %}
